<!-- Display flightsOneWay first -->
<div *ngIf="!showRoundTrip">
  <div *ngFor="let flight of flightsOneWay" class="basic-flight-card-layout-container">
    <div class="basic-flight-card-layout-top-section-container row">
      <div class="basic-flight-card-layout-left-section-container">
        <div class="basic-flight-card-layout-left-section-row row" style="display: grid; grid-template-columns: 1fr 1fr;">
          <div class="basic-flight-card-layout-left-top-section-container">
            <!-- Flight Ticket Information -->
            <div class="ticket">
              <div class="flight-info">
                <span class="flight-sector">{{ flight.flightSector.split('-')[0] }}</span>
                <span class="time">{{ flight.departureTime.substring(0, 5) }}</span>
                <span>Terminal 1</span>
              </div>
              <div class="flight-info">
                <span class="nonstop">nonstop</span>
                <div class="dots"></div>
              </div>
              <div class="flight-info">
                <span class="flight-sector">{{ flight.flightSector.split('-')[1] }}</span>
                <span class="time">{{ flight.arrivalTime.substring(0, 5) }}</span>
                <span>Terminal 1</span>
              </div>
            </div>
          </div>
          <div class="basic-flight-card-layout-left-bottom-section-container">
            <!-- Flight Duration and Details -->
            <div class="flight-details">
              <div class="duration">
                <span class="icon">⏲️</span>
                <span>Duration {{ flight.flightTime }}h</span>
              </div>
              <div class="flight-info">
                <span class="icon">✈️</span>
                <span class="flight-number">{{ flight.flightNumber }}</span>
                <span>operated by Linhdan Airlines</span>
              </div>
              <div class="itinerary">
                <a href="#">See itinerary details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="basic-flight-card-layout-right-section-container">
        <!-- Pricing Options -->
        <div class="pricing-container">
          <div class="pricing-option economy" (click)="selectOneWayFlight(flight, 'Economy')" [ngClass]="{'unavailable': flight.economySeat === 0}" aria-label="Select Economy flight">
            <div class="seats-left" *ngIf="flight.economySeat !== null && flight.economySeat <= 10">{{ flight.economySeat }} seats left</div>
            <div class="class-name">Economy</div>
            <div>from</div>
            <div>USD</div>
            <div class="price" *ngIf="flight.economySeat > 0">{{ flight.randomEconomyPrice | currency: 'USD' }}</div>
            <div class="price" *ngIf="flight.economySeat === 0">Not available</div>
            <div class="dropdown-arrow" *ngIf="flight.economySeat > 0">▼</div>
          </div>
          <div class="pricing-option business" (click)="selectOneWayFlight(flight, 'Business')" [ngClass]="{'unavailable': flight.businessSeat === 0}" aria-label="Select Business flight">
            <div class="seats-left" *ngIf="flight.businessSeat !== null && flight.businessSeat <= 10">{{ flight.businessSeat }} seats left</div>
            <div class="class-name">Business</div>
            <div>from</div>
            <div>USD</div>
            <div class="price" *ngIf="flight.businessSeat > 0">{{ flight.randomBusinessPrice | currency: 'USD' }}</div>
            <div class="price" *ngIf="flight.businessSeat === 0">Not available</div>
            <div class="dropdown-arrow" *ngIf="flight.businessSeat > 0">▼</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display flightsRoundTrip after selecting an OnWay flight -->
<div *ngIf="showRoundTrip">
  <div *ngFor="let flight of flightsRoundTrip" class="basic-flight-card-layout-container">
    <div class="basic-flight-card-layout-top-section-container row">
      <div class="basic-flight-card-layout-left-section-container">
        <div class="basic-flight-card-layout-left-section-row row" style="display: grid; grid-template-columns: 1fr 1fr;">
          <div class="basic-flight-card-layout-left-top-section-container">
            <!-- Flight Ticket Information -->
            <div class="ticket">
              <div class="flight-info">
                <span class="flight-sector">{{ flight.flightSector.split('-')[0] }}</span>
                <span class="time">{{ flight.departureTime.substring(0, 5) }}</span>
                <span>Terminal 1</span>
              </div>
              <div class="flight-info">
                <span class="nonstop">nonstop</span>
                <div class="dots"></div>
              </div>
              <div class="flight-info">
                <span class="flight-sector">{{ flight.flightSector.split('-')[1] }}</span>
                <span class="time">{{ flight.arrivalTime.substring(0, 5) }}</span>
                <span>Terminal 1</span>
              </div>
            </div>
          </div>
          <div class="basic-flight-card-layout-left-bottom-section-container">
            <!-- Flight Duration and Details -->
            <div class="flight-details">
              <div class="duration">
                <span class="icon">⏲️</span>
                <span>Duration {{ flight.flightTime }}h</span>
              </div>
              <div class="flight-info">
                <span class="icon">✈️</span>
                <span class="flight-number">{{ flight.flightNumber }}</span>
                <span>operated by Linhdan Airlines</span>
              </div>
              <div class="itinerary">
                <a href="#">See itinerary details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="basic-flight-card-layout-right-section-container">
        <!-- Pricing Options -->
        <div class="pricing-container">
          <div class="pricing-option economy" (click)="selectRoundTripFlight(flight, 'Economy')" [ngClass]="{'unavailable': flight.economySeat === 0}" aria-label="Select Economy flight">
            <div class="seats-left" *ngIf="flight.economySeat !== null && flight.economySeat <= 10">{{ flight.economySeat }} seats left</div>
            <div class="class-name">Economy</div>
            <div>from</div>
            <div>USD</div>
            <div class="price" *ngIf="flight.economySeat > 0">{{ flight.randomEconomyPrice | currency: 'USD' }}</div>
            <div class="price" *ngIf="flight.economySeat === 0">Not available</div>
            <div class="dropdown-arrow" *ngIf="flight.economySeat > 0">▼</div>
          </div>
          <div class="pricing-option business" (click)="selectRoundTripFlight(flight, 'Business')" [ngClass]="{'unavailable': flight.businessSeat === 0}" aria-label="Select Business flight">
            <div class="seats-left" *ngIf="flight.businessSeat !== null && flight.businessSeat <= 10">{{ flight.businessSeat }} seats left</div>
            <div class="class-name">Business</div>
            <div>from</div>
            <div>USD</div>
            <div class="price" *ngIf="flight.businessSeat > 0">{{ flight.randomBusinessPrice | currency: 'USD' }}</div>
            <div class="price" *ngIf="flight.businessSeat === 0">Not available</div>
            <div class="dropdown-arrow" *ngIf="flight.businessSeat > 0">▼</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center pt-1 mb-5 pb-1" *ngIf="selectedOneWayFlight && selectedRoundTripFlight">
  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary"
          type="button" (click)="navigateToBookingDetail()">
    Xác nhận và tiếp tục
  </button>
</div>
