<app-landingpage></app-landingpage>
<div class="your-flights-container">
  <span>Your flights</span>
</div>
<div class="container-warning mt-4">
  <div class="warning-message d-flex align-items-center">
    <div class="warning-icon">⚠️</div>
    <div>
      <strong>1 warning</strong>
      <br>
      Hurry up! Last seats available at this price.
    </div>
  </div>
</div>
<div *ngIf="selectedOneWayFlight" class="basic-flight-card-layout-container">
  <span class="flight-sector-name">{{searchFlightObj.departureAddress}} to {{searchFlightObj.arrivalAddress}}</span>
  <span class="date">- {{ getDayOfWeek(searchFlightObj.fromDate) }}, {{ searchFlightObj.fromDate }} </span>
  <div class="basic-flight-card-layout-top-section-container row">
    <div class="basic-flight-card-layout-left-section-container">
      <div class="basic-flight-card-layout-left-section-row row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div class="basic-flight-card-layout-left-top-section-container">
          <!-- Flight Ticket Information -->
          <div class="ticket">
            <div class="flight-info">
              <span class="flight-sector">{{ selectedOneWayFlight.flightSector.split('-')[0] }}</span>
              <span class="time">{{ selectedOneWayFlight.departureTime.substring(0, 5) }}</span>
              <span>Terminal 1</span>
            </div>
            <div class="flight-info">
              <span class="nonstop">nonstop</span>
              <div class="dots"></div>
            </div>
            <div class="flight-info">
              <span class="flight-sector">{{ selectedOneWayFlight.flightSector.split('-')[1] }}</span>
              <span class="time">{{ selectedOneWayFlight.arrivalTime.substring(0, 5) }}</span>
              <span>Terminal 1</span>
            </div>
          </div>
        </div>
        <div class="basic-flight-card-layout-left-bottom-section-container">
          <!-- Flight Duration and Details -->
          <div class="flight-details">
            <div class="duration">
              <span class="icon">⏲️</span>
              <span>Duration {{ selectedOneWayFlight.flightTime }}h</span>
            </div>
            <div class="flight-info">
              <span class="icon">✈️</span>
              <span class="flight-number">{{ selectedOneWayFlight.flightNumber }}</span>
              <span>operated by Linhdan Airlines</span>
              <span class="seat">{{ selectedOneWayFlightSeatClass }}</span>
            </div>
            <div class="itinerary">
              <a href="#">See itinerary details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedRoundTripFlight" class="basic-flight-card-layout-container">
  <span class="flight-sector-name">{{searchFlightObj.arrivalAddress}} to {{searchFlightObj.departureAddress}}</span>
  <span class="date">- {{ getDayOfWeek(searchFlightObj.toDate) }}, {{ searchFlightObj.toDate }} </span>
  <div class="basic-flight-card-layout-top-section-container row">
    <div class="basic-flight-card-layout-left-section-container">
      <div class="basic-flight-card-layout-left-section-row row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div class="basic-flight-card-layout-left-top-section-container">
          <!-- Flight Ticket Information -->
          <div class="ticket">
            <div class="flight-info">
              <span class="flight-sector">{{ selectedRoundTripFlight.flightSector.split('-')[0] }}</span>
              <span class="time">{{ selectedRoundTripFlight.departureTime.substring(0, 5) }}</span>
              <span>Terminal 1</span>
            </div>
            <div class="flight-info">
              <span class="nonstop">nonstop</span>
              <div class="dots"></div>
            </div>
            <div class="flight-info">
              <span class="flight-sector">{{ selectedRoundTripFlight.flightSector.split('-')[1] }}</span>
              <span class="time">{{ selectedRoundTripFlight.arrivalTime.substring(0, 5) }}</span>
              <span>Terminal 1</span>
            </div>
          </div>
        </div>
        <div class="basic-flight-card-layout-left-bottom-section-container">
          <!-- Flight Duration and Details -->
          <div class="flight-details">
            <div class="duration">
              <span class="icon">⏲️</span>
              <span>Duration {{ selectedRoundTripFlight.flightTime }}h</span>
            </div>
            <div class="flight-info">
              <span class="icon">✈️</span>
              <span class="flight-number">{{ selectedRoundTripFlight.flightNumber }}</span>
              <span>operated by Linhdan Airlines</span>
              <span class="seat">{{ selectedRoundTripFlightSeatClass }}</span>
            </div>
            <div class="itinerary">
              <a href="#">See itinerary details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="user; else loginButtons">
  <div class="container">
    <h3>Welcome, {{ user.userName }}</h3>
    <p>Email: {{ user.email }}</p>
    <div *ngIf="!editPhoneNumber; else editPhoneTemplate">
      <p *ngIf="user.phoneNumber">Phone Number: {{ user.phoneNumber }}</p>
      <a href="#" *ngIf="!user.phoneNumber" (click)="toggleEditPhoneNumber($event)">Click to add phone number</a>
      <button *ngIf="user.phoneNumber" class="btn btn-link" (click)="toggleEditPhoneNumber()">Edit Phone Number</button>
    </div>
    <ng-template #editPhoneTemplate>
      <form (ngSubmit)="updatePhoneNumber()">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="toggleEditPhoneNumber()">Cancel</button>
      </form>
    </ng-template>

    <div class="price-summary">
      <div class="d-flex justify-content-end">
        <div class="price-detail">Total price for flights: <span class="total-price">{{ getTotalPrice() }}</span></div>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <div class="price-detail">Total price: <span class="total-price">{{ getTotalPrice() }}</span></div>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <small>Round trip price for all passengers (including taxes, fees, and discounts). See price details.</small>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <a href="#" class="mr-2">Detailed baggage policy</a> |
        <a href="#" class="mx-2">Review conditions</a> |
        <a href="#" class="ml-2">Dangerous goods policy</a>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-custom btn-guest" (click)="paymentProcessing()">CONTINUE PAYMENT</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loginButtons>
  <div class="container">
    <div class="price-summary">
      <div class="d-flex justify-content-end">
        <div class="price-detail">Total price for flights: <span class="total-price">{{ getTotalPrice() }}</span></div>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <div class="price-detail">Total price: <span class="total-price">{{ getTotalPrice() }}</span></div>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <small>Round trip price for all passengers (including taxes, fees, and discounts). See price details.</small>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <a href="#" class="mr-2">Detailed baggage policy</a> |
        <a href="#" class="mx-2">Review conditions</a> |
        <a href="#" class="ml-2">Dangerous goods policy</a>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-custom btn-guest">CONTINUE AS GUEST</button>
        <button class="btn btn-custom btn-login" (click)="navigateToLogin()">LOGIN AND CONTINUE</button>
      </div>
    </div>
  </div>
</ng-template>

<app-footer></app-footer>

