<div class="container px-4 px-lg-5">
  <!--Search menu (Nav-Tab)-->
  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="buy-ticket-tab" data-bs-toggle="tab" data-bs-target="#buy-ticket" type="button" role="tab" aria-controls="buy-ticket" aria-selected="true">MUA VÉ</button>
      <button class="nav-link" id="manage-booking-tab" data-bs-toggle="tab" data-bs-target="#manage-booking" type="button" role="tab" aria-controls="manage-booking" aria-selected="false">QUẢN LÝ ĐẶT CHỖ</button>
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">LÀM THỦ TỤC</button>
      <button class="nav-link" id="flight-looking-tab" data-bs-toggle="tab" data-bs-target="#flight-looking" type="button" role="tab" aria-controls="flight-looking" aria-selected="false">TRUY CỨU CHUYẾN BAY</button>
    </div>
  </nav>

  <div class="container-sm">
    <div class="my-2 card tab-pane fade" id="buy-ticket" role="tabpanel" aria-labelledby="buy-ticket-tab">
      <!--Seaching flight-->
      <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" style="color: rgb(0, 95, 110);" for="inlineRadio1">Tiền</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" style="color: rgb(0, 95, 110);" for="inlineRadio2">Dặm bay</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
              <label class="form-check-label" style="color: rgb(0, 95, 110);" for="inlineRadio3">Tiền & Dặm</label>
            </div>
            <hr />
            <span class="title-recent-searches" style="cursor: pointer; font-size: 1.2em;" onclick="openBoxSearchHistory()">
              <img src="assets/images/clock.png" style="width: 23px; height: auto;" /> TRA CỨU GẦN ĐÂY
            </span>
            <div class="recent-search-wrap active" id="box-search-history">
              <div class="content-recent-searches">
                <div class="box-recent-searches">
                  <div class="container-sm">
                    <div class="my-2 card">
                      <!-- TRA CUU GAN DAY -->
                      <div class="col">
                        <div class="row card">
                          <p class="title-history text-center">
                            <span>ROUND TRIP</span> - Economy
                          </p>
                        </div>
                        <div class="row justify-content-md-center bg-warning card">
                          <div class="flight-recent-searches">
                            <div class="row">
                              <div class="col">
                                <div class="item-flight text-center">
                                  <span class="icon-flight">
                                    <img src="assets/images/icon-flight-recent-search.png" style="width: 18px; height: auto;">
                                  </span> (Tp. Hồ Chí Minh (SGN), Việt Nam)
                                </div>
                              </div>
                              <div class="col">
                                <div class="item-flight text-center">
                                  <span class="icon-flight">
                                    <img src="assets/images/icon-flight-recent-search.png" style="width: 18px; height: auto;">
                                  </span> (Hà Nội (HAN), Việt Nam)
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="btn-recent-searches" data-device="desktop" data-class="Economy" data-flight-type="roundtrip"
                   data-flight-count="1" data-adult="1" data-child="0" data-infant="0" data-flight-from-1="Tp. Hồ Chí Minh (SGN), Việt Nam"
                   data-flight-to-1="Hà Nội (HAN), Việt Nam" data-flight-depart-code-1="SGN" data-flight-arrival-code-1="HAN"><img src="" alt="" width="7" height="auto"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- flight searching detail -->
        <div class="row">
          <div class="col-sm">
            <div class="mb-2">
              <label id="origin-label" for="origin-select" class="form-label">Điểm đi</label>
              <select class="form-select" id="origin-select" [(ngModel)]="searchFlightObj.departureAddress">
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-2">
              <label id="destination-label" for="destination-select" class="form-label">Điểm đến</label>
              <select class="form-select" id="destination-select" [(ngModel)]="searchFlightObj.arrivalAddress">
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-2">
              <label for="departure-date" class="form-label">Ngày đi</label>
              <div class="input-group date" id="departure-date">
                <input type="date" class="form-control"[(ngModel)]="searchFlightObj.fromDate"/>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-2">
              <label for="return-date" class="form-label">Ngày về</label>
              <div class="input-group date" id="return-date">
                <input type="date" class="form-control" [(ngModel)]="searchFlightObj.toDate">
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row row-cols-2">
          <div class="col-sm">
            <div class="mb-2">
              <div class="btn-group" role="group" aria-label="flight-type-label">
                <input type="radio" class="btn-check" name="flight-type" id="one-way" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="one-way">Một chiều</label>
                <input type="radio" class="btn-check" name="flight-type" id="round-trip" autocomplete="off">
                <label class="btn btn-outline-primary" for="round-trip">Khứ hồi</label>
                <input type="radio" class="btn-check" name="flight-type" id="multi-city" autocomplete="off">
                <label class="btn btn-outline-primary" for="multi-city">Nhiều chặng</label>
              </div>
            </div>
          </div>
          <!-- Fare class -->
          <div class="col-sm-5">
            <div class="mb-2 d-flex align-items-center">
              <label id="travel-class-label" for="travel-class-select" class="form-label custom-label">Hạng vé</label>
              <select class="form-select custom-select-width" id="travel-class-select" aria-describedby="travel-class-label">
                <option value="ECONOMY">Phổ thông</option>
                <option value="PREMIUM_ECONOMY">Phổ thông đặc biệt</option>
                <option value="BUSINESS">Thương gia</option>
                <option value="FIRST">Nhất</option>
              </select>
            </div>
          </div>
        </div>

        <!-- SO LUONG HANH KHACH -->
        <div class="row">
          <label class="form-label">Hành khách</label>
          <div class="col-md-4">
            <div class="mb-2">
              <div class="input-group">
                <label for="adults-input" class="input-group-text">Người lớn</label>
                <input type="number" min="0" class="form-control short-input" id="adults-input" aria-describedby="adults-label">
              </div>
              <span id="adults-label" class="form-text">(Từ 12 tuổi)</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-2">
              <div class="input-group">
                <label for="children-input" class="input-group-text">Trẻ em</label>
                <input type="number" min="0" class="form-control short-input" id="children-input" aria-describedby="children-label">
              </div>
              <span id="children-label" class="form-text">(Từ 2-12 tuổi)</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-2">
              <div class="input-group">
                <label for="infants-input" class="input-group-text">Trẻ em</label>
                <input type="number" min="0" class="form-control short-input" id="infants-input" aria-describedby="infants-label">
              </div>
              <span id="infants-label" class="form-text">(Dưới 2 tuổi)</span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- button search flight -->
          <div class="col-sm">
            <div class="mb-2">
              <button type="button" class="btn btn-primary btn-lg mt-5" (click)="onSearchingFlight()">Tìm chuyến bay</button>
            </div>
          </div>
          <!-- payment banner -->
          <div class="col-sm-9">
            <strong>
              <label class="form-check-label" style="color: rgb(0, 95, 110);" for="inlineRadio1">Các phương thức thanh toán</label>
            </strong>
            <div class="row">
              <div class="col">
                <img src="assets/images/momo.jpg" class="img-fluid small-img" alt="Momo">
              </div>
              <div class="col">
                <img src="assets/images/paypal.png" class="img-fluid small-img" alt="PayPal">
              </div>
              <div class="col">
                <img src="assets/images/napas.png" class="img-fluid small-img" alt="Napas">
              </div>
              <div class="col">
                <img src="assets/images/visa.png" class="img-fluid small-img" alt="Visa">
              </div>
              <div class="col">
                <img src="assets/images/vnpay.webp" class="img-fluid small-img" alt="VNPay">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="assets/images/payoo.jpg" class="img-fluid small-img" alt="Payoo">
              </div>
              <div class="col">
                <img src="assets/images/sofort.png" class="img-fluid small-img" alt="Sofort">
              </div>
              <div class="col">
                <img src="assets/images/uatp.png" class="img-fluid small-img" alt="UATP">
              </div>
              <div class="col">
                <img src="assets/images/unionpay.png" class="img-fluid small-img" alt="UnionPay">
              </div>
              <div class="col">
                <img src="assets/images/wechatpay.png" class="img-fluid small-img" alt="WeChatPay">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="manage-booking" role="tabpanel" aria-labelledby="manage-booking-tab">
        <!--Manage Booking-->
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <!--Profile-->
      </div>
      <div class="tab-pane fade" id="flight-looking" role="tabpanel" aria-labelledby="flight-looking-tab">
        <!--Flight Looking-->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function openBoxSearchHistory() {
    var boxSearchHistory = document.getElementById('box-search-history');
    if (boxSearchHistory.style.display === 'none' || boxSearchHistory.style.display === '') {
      boxSearchHistory.style.display = 'block';
    } else {
      boxSearchHistory.style.display = 'none';
    }
  }
</script>
